.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
  color:#1f222b;
  z-index: 9999;
  background: rgba(255,255,255,0.7);
}
.select2-selection{
  border-radius: inherit  !important;
  border: 1px solid #ccc !important;
}

.form-group > label.asterisk:after {
    content: " *";
    color: red;
}
#loading{
  display: none;
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(255,255,255,0.7);
}
.img_holder{
  margin-top:15px;
}
.img_holder > img{
  max-height:100px;max-width: 100px;
}
.more_info{
    margin-top: 10px;
    margin-left: 5px;
}
.breadcrumb{
  margin-right: 30px;
}
.action-teplate{
  min-width: 80px;
}
.seo{
  font-size: 10px;
  color: #ad3419;
}


.form-newww:before {
  display: none;
}


.form-newww {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  padding-top: 50px;
  padding-bottom: 35px;
}

.input-groupn input[type="file"] {
  background: #65c4b0 !important;
  color: white !important;
  appearance: none !important;
  -webkit-appearance: none;
  -moz-appearance:    none;
  position: relative;
  z-index: 10;
  outline: none !important;
  border: none !important;
  opacity: 0;
  padding: 5px 0;
  width: 89.31px;
  cursor: pointer;
}

.input-groupn.file-upload {
  position: relative;
  z-index: 3;
}

.input-groupn.file-upload:before {
  content: 'Upload files';
  background: #65c4b0 !important;
  color: white !important;
  text-align: center;
  position: absolute;
  cursor: pointer;
  padding: 5px 10px;
}

.input-groupn:not(.las-child) {
  border-bottom: 1px solid  #e7ecee;
  padding-bottom: 10px;
}

.inner-input {
  margin: 10px 0 0;
}


.form-newww > .row {
  border-top: 2px solid #e5ebed;
  padding-top: 20px;
  position: relative;
}

.form-newww > .row:after {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #e5ebed;
  position: absolute;
  top: 0;
  left: 7%;
  content: '';
  z-index: 4;
}

.form-newww > .row:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid #ffffff;
  position: absolute;
  top: -2px;
  left: 7%;
  z-index: 10;
  transform: translate(2px, 0px);
}



.order-detail-main {width: 750px;border: 2px solid #c5c5c5;border-radius: 7px;padding: 25px;margin: 25px auto;
}

.order-detail-main h2 {text-align: center;border-bottom: 2px solid #ff7f33;width: 226px;margin: 0 auto;margin-bottom: 20px;font-size: 29px;}
.order-detail-main .detail-title span {font-weight: 900;margin-right: 5px;}

 .overflow_add h2 {text-align: center;}


.Order_Details_user_get {
	max-width:750px;
	margin:25px auto;
	padding:40px 0 60px;
}

.Product_table tr th,.Product_table tr td {
	border:1px solid;
	text-align:center;
}

.Order_Details_user_get h2 {
	text-align:center;
	border-bottom:2px solid #ff7f33;
	width:188px;
	margin:0 auto;
	margin-bottom:20px;
}

.Order_Details_user_get tr td .Total_pr {
	font-weight:900;
	font-size:20px;
}

.table_data_b td img {
	width:135px;
}

td.table_data_images {
	width:160px;
}

tbody.table_data_tbody {
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
}

.Total_pr {
	text-align:right;
	margin-top:6px;
	font-weight:900;
}

.table_data_h {
	background-color:#c5c5c5;
	border-color:#c5c5c5;
	color:#000;
	height:35px;
}

.table_data_b {
	vertical-align:middle;
	border-bottom:1px solid #000000;
	height:35px;
}

.Product_table {
	width:100%;
	text-align:left;
}


#pjax-container .table thead tr {
  box-shadow: 0px 0px 12px #d5d5d58a;
}

.table-responsive {
  padding: 26px  25px !important;
}

#pjax-container .table {
  box-shadow: 0px 0px 12px #d5d5d58a;
}

#pjax-container  .table tr > * {
  border: 1px solid #8080802b;
}

#pjax-container  .table tr > *:first-child {
  text-align: center;
  align-items: center;
  position: relative;

}

#pjax-container  .table tr > * {
  vertical-align: middle;
}

#pjax-container  .table tr > *:first-child .icheckbox_square-blue {
  margin: auto;
  vertical-align: middle;

}

.pr-0 {
  padding-right: 0 !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.w-100 {
  width: 100% !important;
}

.verify-email {
  position: relative;
  padding-top: 20px;
}

.verify-email .succes-btnn {
  position: absolute;
  right: 15px;
  top: 4px;
}

.file-upload-yellow:before {
  content: 'Upload a profile pic';
  background: #f39c12 !important;
  color: white !important;
  text-align: center;
  position: absolute;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  left: 0;
  right: 0;
}

.file-upload-yellow , .file-upload {
  width: max-content;
  position: relative;
}

.account-form .avatar {
  background: #f39c12;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.account-form  .avatar * {
  width: 100% !important;
  height: 100% !important;
  font-size: 100% !important;
  object-fit: cover;
}

.flex-end {

  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}


.input-groupn.file-upload-yellow input[type="file"] {
  width: 100%;
}

p.note-avatar {
  font-size: 12px;
  margin: 0 0 6px;
}

p.note-avatar b {
  margin-right: 5px;
}


.input-groupn.file-upload-yellow {
  border-bottom: 0px !important;
}

.box-account {
  background: white;
  padding-top: 10px;
  border-top: 4px solid #3c8cbc;
}

.box-account > * {
  background: #f7f8f9 !important;
}

.form-account-setting .box-footer {
  background: #f7f8f9 !important;
}

.verify-email .input-groupn {
  border-bottom: 0 !important;
}

.email-input {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.email-input:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  left: 0;
  right: 0;
  width: calc(100% - 30px);
  background: #d6dfe3;
  margin: auto;
}

.form-account-setting .box-footer , .input-groupn {
  border-color: #d6dfe3 !important;
}

label[for="birthday"] + div.input-groupn {
  border-bottom: 0px !important;
}

.account-form .avatar {
  margin-top: 10px;
}


.border-b-none {
  border-bottom: 0px !important;

}

.table tr > *:last-child .btn-primary {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  background-color: #3fa490 !important;
  border-color: #3fa490 !important;
}

.table tr > *:last-child .btn-primary .fa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.table tr > *:last-child  .btn-danger {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  background-color: #3fa49000 !important;
  border-color: #46464659 !important;
}

.table tr > *:last-child .btn-danger .fa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: black !important;
}
.gallery-images .img_holder > .img-outer:before {
    content: '';
    background: #00000026;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all .3s ease-in-out;
    opacity: 0;
}

.gallery-images .img_holder .fa {
    transition: all .3s ease-in-out;
    opacity: 0;
}

.gallery-images .img_holder > .img-outer:hover:before, .gallery-images .img_holder > .img-outer:hover .fa {
    opacity: 1 !important;
}

.dropdown-menu .user-footer {
  background: #2985bbbf !important;
}
.dropdown-menu .user-footer .btn {
  background: #f39c12 !important;
  color: white !important;
  border-color: #f39c12 !important;
}


.input-group.input-group-md {
  display: flex;
}
.input-group.input-group-md .multiple_emails-container {
  width: calc(100% - 40px);
}
.input-group.input-group-md .multiple_emails-container > * {
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
}

.input-group.input-group-md .multiple_emails-container > .multiple_emails-input {
  height: 34px;
  margin: ;
}
.multiple_emails-ul {
  list-style: none;
  padding: 0;
  margin: 15px 0 0;
}
.multiple_emails-ul > * {
  margin: 0 0 10px;
  background: #d9d9d9;
  max-width: max-content;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 7px 15px;
  border-radius: 18px;
}
.input-group.input-group-md .multiple_emails-container > * .multiple_emails-close {
  margin-right: 7px;
  color: #ad3419 !important;
}
.multiple_emails-ul > *  * {
  display: block;
}
 .MultiCheckBox {
            border:1px solid #e2e2e2;
            padding: 5px;
            border-radius:4px;
            cursor:pointer;
        }

        .MultiCheckBox .k-icon{ 
            font-size: 15px;
            float: right;
            font-weight: bolder;
            margin-top: -7px;
            height: 10px;
            width: 14px;
            color:#787878;
        } 

        .MultiCheckBoxDetail {
            display:none;
            position:absolute;
            border:1px solid #e2e2e2;
            overflow-y:hidden;
        }

        .MultiCheckBoxDetailBody {
            overflow-y:scroll;
        }

            .MultiCheckBoxDetail .cont  {
                clear:both;
                overflow: hidden;
                padding: 2px;
            }

            .MultiCheckBoxDetail .cont:hover  {
                background-color:#cfcfcf;
            }

            .MultiCheckBoxDetailBody > div > div {
                float:left;
            }

        .MultiCheckBoxDetail>div>div:nth-child(1) {
        
        }

        .MultiCheckBoxDetailHeader {
            overflow:hidden;
            position:relative;
            height: 28px;
            background-color:#3d3d3d;
        }

            .MultiCheckBoxDetailHeader>input {
                position: absolute;
                top: 4px;
                left: 3px;
            }

            .MultiCheckBoxDetailHeader>div {
                position: absolute;
                top: 5px;
                left: 24px;
                color:#fff;
            }

.MultiCheckBox {
  width: 100% !important;
  max-width: 100% !important;
}
.MultiCheckBoxDetail {
  width: calc(100% - 30px) !important;
  z-index: 999999;
  background: white;
}
.MultiCheckBoxDetail .cont > :first-child , .MultiCheckBoxDetailHeader > *:first-child {
  margin-right: 10px;

}
.MultiCheckBoxDetail.open-select {
  display: block !important;
}